<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Calculate Next Berkhan value</h1>
<form id="calculate-value-form">
    <label for="input-exercise-sets">Sets: </label>
    <input type="number" name="input-exercise-sets" id="input-exercise-sets" value={{exercise.sets}}>
    <label for="input-exercise-reps">Reps: </label>
    <input type="number" name="input-exercise-reps" id="input-exercise-reps" value={{exercise.reps}}>
    <label for="input-exercise-weight">Current Weight: </label>
    <input type="number" name="input-exercise-weight" id="input-exercise-weight" value={{exercise.weight}}>
   
    <input type="submit">
</form>
<div id="select-option">
</div>
<script src="/js/berkhan_value.js"></script> 