<div class ="d-flex align-items-center flex-column gap-3 ">
    <h1 class="text-center">Sequence System Training Calculator</h1>
    <p class="text-center">Welcome to the STS calculator! Please select an option below:</p>
    <div id="accordion">
    <div class="card" style="width: 25rem;">
        <div class="card" id="headingOne">
        <h5 class="text-center m-2">
            <a style="text-decoration: none;" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
  <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
</svg> About the STS Calculator
            </a>
        </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
            <div class="card-body">
                The Sequence Training System (STS) was developed by Martin Berkhan in 2022. You can read more about it here. 
                This program utilizes the original formulas createdby Martin to more quickly calculate the next [Berkhan] 
                value for a given exercise. 
            </div>
        </div>
    </div>
    
    </div>
    <div class="half-form-box">
        <div class="container">
            <div class="btn-group-vertical gap-3 d-flex align-items-center" role="group" aria-label="Home Navigation Buttons">
                <a href='/createRoutine'><button type="button" class="btn btn-primary btn-lg rounded-pill">Create New Workout Routine</button></a>
                <a href='/viewRoutines'><button type="button" class="btn btn-primary btn-lg rounded-pill">View Existing Routines</button></a>
            </div>
        </div>
    </div>
</div>